.btn-primary, .btn-primary:hover {
    background-color: #1c8fdb ;
}



#errmsg {
    color:red;
    text-align: right;
}

#back {
    color:black;
}

#back:hover {
    background-color: #1c8fdb ;
}

#tasktime {
    width: 10rem;
}
.task {
    align-items: center
}

input[type="checkbox"] {
    vertical-align: middle;
}

.span12.pagination-centered {
    margin: 25px auto;
    width: 100px;
}
